@section Scripts {

    <script src="~/js/Pages/Pokemon/pokemonList.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
}
@{
    <p>@ViewBag.MyString</p>
    <button id="changeColorButton">Change Background Color</button>
    <button id="loadPokemon">Ver los Pokemon</button>
    <button id="goBack">Atras</button>
    <div id="pokemonList"> </div>


}
